<table class="table table-bordered" id="ergebnis">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="4">Bauelement</th>
            <!-- <th scope="col" colspan="4">Parameter</th> -->
            <th scope="col" colspan="2">Ergebnis</th>
        </tr>
        <tr>
            <th>Material</th>
            <th>Länge</th>
            <th>Breite</th>
            <th>Dicke</th>
            <th>Rmin</th>
            <th>Rmax</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= Aerg.Object.Parameter.Material %>
            </td>
            <td>
                <%= Aerg.Object.Parameter.l %>
            </td>
            <td>
                <%= Aerg.Object.Parameter.b %>
            </td>
            <td>
                <%= Aerg.Object.Parameter.d %>
            </td>
            <td>
                <%= Aerg.Ergebnis.Rmin %>
            </td>
            <td>
                <%= Aerg.Ergebnis.Rmax %>
            </td>
        </tr>
    </tbody>
</table>
