<table class="table table-bordered" id="ergebnis">
    <thead class="thead-dark">
        <tr>
            <th scope="row" rowspan="2">Betriebsmittel</th>
            <th scope="col" colspan="6">Parameter</th>
            <th scope="row" rowspan="2">Ergebnis</th>
        </tr>
        <tr>

            <th scope="col">Material</th>
            <th scope="col">Länge</th>
            <th scope="col">Anzahl Adern</th>
            <th scope="col">Netzspannung</th>
            <th scope="col">Spannungsverlust</th>
            <th scope="col">Stromstärke</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= Aerg.Betriebsmittel.Leitung.Name %>
            </td>
            <td>
                <%= Aerg.Parameter.Material %>
            </td>
            <td>
                <%= Aerg.Parameter.l %>
            </td>
            <td>
                <%= Aerg.Parameter.a %>
            </td>
            <td>
                <%= Aerg.Parameter.U %>
            </td>
            <td>
                <%= Aerg.Parameter.p %>
            </td>
            <td>
                <%= Aerg.Parameter.I %>
            </td>
            <td>
                <%= Aerg.Ergebnis.A %>
            </td>
        </tr>
    </tbody>
</table>
