<table class="table table-bordered" id="kennzeichnung">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="8">Kennzeichnung</th>
        </tr>
        <tr>
            <th scope="col" rowspan="2">Betriebsmittel</th>
            <th scope="col" rowspan="2">Anlage</th>
            <th scope="col" colspan="1">Ort</th>
            <th scope="col" colspan="1" rowspan="2">Art</th>
            <th scope="col" colspan="1" rowspan="2">Nummer</th>
            <th scope="col" colspan="1" rowspan="2">Funktion</th>
            <th scope="col" colspan="1" rowspan="2">Anschluss</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= Aerg.Betriebsmittel.Platte.Name %>
            </td>
            <td>
                =
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "=" ].Anlage[ "1" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "=" ].Anlage[ "2" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "=" ].Anlage[ "3" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "=" ].Anlage.Trennzeichen %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "=" ].Anlage[ "4" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "=" ].Anlage[ "5" ] %>
            </td>
            <td>
                +
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "+" ].Ort.Aufstellungsort[ "1" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "+" ].Ort.Aufstellungsort[ "2" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "+" ].Ort.Aufstellungsort[ "3" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "+" ].Ort.Aufstellungsort[ "4" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "+" ].Ort.Aufstellungsort[ "5" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "+" ].Ort.Trennzeichen %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "+" ].Ort.Einbauort[ "6" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "+" ].Ort.Einbauort[ "7" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "+" ].Ort.Einbauort[ "8" ] %>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ "+" ].Ort.Einbauort[ "9" ] %>
            </td>
            <td>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung.Art %>
            </td>
            <td>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung.Zaehlnummer %>
            </td>
            <td>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung.Funktion %>
            </td>
            <td>
                <%= Aerg.Betriebsmittel.Platte.Kennzeichnung[ ":" ].Anschluss[ "" ] %>
            </td>
        </tr>
    </tbody>
</table>
