<table class="table table-bordered" id="ergebnis">
    <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="3">Betriebsmittel</th>
            <th scope="col" colspan="1">Parameter</th>
            <th scope="col" colspan="4">Ergebnis</th>
        </tr>
        <tr>
            <th scope="col" colspan="1">R1</th>
            <th scope="col" colspan="1">R2</th>
            <th scope="col" colspan="1">R3</th>
            <th scope="col" colspan="1">I</th>
            <th scope="col" colspan="1">Φa</th>
            <th scope="col" colspan="1">Φb</th>
            <th scope="col" colspan="1">Φc</th>
            <th scope="col" colspan="1">Φd</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= Aerg.Betriebsmittel.R1 %>
            </td>
            <td>
                <%= Aerg.Betriebsmittel.R2 %>
            </td>
            <td>
                <%= Aerg.Betriebsmittel.R3 %>
            </td>
            <td>
                <%= Aerg.Parameter.I %>
            </td>
            <td>
                <%= Aerg.Ergebnis.Φa %>
            </td>
            <td>
                <%= Aerg.Ergebnis.Φb %>
            </td>
            <td>
                <%= Aerg.Ergebnis.Φc %>
            </td>
            <td>
                <%= Aerg.Ergebnis.Φd %>
            </td>
        </tr>
    </tbody>
</table>
